@charset "utf-8";
@import url("reset.css");
/* CSS Document */

body{ background-image:url(images/bg.jpg); background-color:#000;}

#BOX{ width:1200px; height:800px; margin:0 auto; background-image:url(images/flycan.png); position:relative;}

#BOX #MENU{
	position:absolute;
	left:165px;
	top:175px;
}

#BOX #MENU img{ margin-right:20px;}

#BOX #PIC{
	position:relative;
	left:84px;
	top:230px;
	overflow:hidden;
	width:1024px;
	height:256px;
}

#BOX #PIC ul{
	position:absolute;
	left:0;
	top:0;
	width:6144px;
}

#BOX #PIC li{ float:left;}
