*{
	margin:0;
	padding:0;
}
body {
	background-color: #F2F2F2;
	margin-top:25px;
}
#BOX {
	width: 850px;
	margin: 0 auto;
	padding: 25px;
	background-color: #FFF;
	box-shadow: 1px 5px 10px #999999;
	margin-bottom:20px;
	border-radius:0 0 15px 15px;
}
#BOX p {
	font-size: 13px;
	line-height: 1.6;
	color:#555;
}
#BOX h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size:50px;
	text-align:center;
	color:#333;
	padding-bottom:15px;
}
ul{list-style-type: none;}
li{width: 140px;}
li > a {
	color: #333;
	font-size: 14px;
	font-weight:bold;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	display: block;
	transition: color .4s;
}
.nav{
	width: 750px;
	height: 40px;
	background-image: url(../images/menu_bg.gif);
	padding: 0 0 0 150px;
	margin: 0 auto;
}
.nav > li{
	float: left;
	position: relative;
}
.nav > li > a{
	font-family: Arial, Geneva, sans-serif;
	line-height: 40px;
	height: 100%;
	background-image: url(../images/btn.gif);
	background-position:0 0;
}
.nav > li:hover > a {
	color:#099;
	background-position: 0 100%;
	transition:background-position .2s .2s;
}
.nav > li:hover > ul{
	height: 180px;
	padding-top: 20px;
	transition: height .4s .2s ease-in-out, padding-top .4s .2s ease-in-out;
}
.nav ul {
	width: 100%;
	height: 0;
	background-image: url(../images/box.jpg);
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 40px;
	left: 0;
	transition: height .4s ease-in-out, padding-top .4s ease-in-out;
}
li li > a {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	width: 120px;
	height: 30px;
	border-bottom: 1px dotted #CCC;
	margin: 0 auto;
}
li li > a:hover { color: #F00; }
h3{
	color:#666;
	font-size:15px;
	font-family:"微軟正黑體";
}
h3 a {
	color: #666;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
}
